html
{

background-color: #8EC5FC;
background-image: linear-gradient(225deg, #8EC5FC 0%, #E0C3FC 100%);

}

.text
{ 
  padding-top: 6%;
  font-family: helvetica;
  font-size: 1.5em;
  color: black; 
  text-align: center;
  line-height: 2em;
  transform: rotateX( 90deg);
  background-color: white;
}

.shape1
{
  transform-style: preserve-3d;
  transform: rotateX(-25deg) rotateY(20deg);
}

.shape2
{
  transform-style: preserve-3d;
  transform: rotateX(25deg) rotateY(-20deg);
}

.radius
{
    background-color: white;
    border-radius: .8em;
    position: absolute;
    box-shadow: -5px 3px 40px black;

}

.div1  
{
    height: 120vh;
    width: 90vh;
    margin-left: 30%;
    transform: rotateX( 90deg);
    animation: move1 5s 1;
    background-image: url("images/desktop.png");
    background-repeat: no-repeat;
    background-size: 100%;

}

.div2
{
    height: 50vh;
    width: 50vh;
    margin-left: 50%;
    transform: rotateX( -90deg);
    animation: move2 5s 1;
    background-image: url("images/tablet.png");
    background-repeat: no-repeat;
    background-size: 100%;
}

.div3
{
    margin-left: 20%;
    margin-top: 20%;
    height: 90vh;
    width: 40vh;
    animation: move3 5s 1;
    background-image: url("images/mobile.png");
    background-repeat: no-repeat;

}

@keyframes move1
{
    from {margin-left:80%;}
    to {margin-left: 30%;}
}

@keyframes move2
{
    from {margin-left:0%;}
    to {margin-left: 50%;}
}

@keyframes move3
{
    from {margin-left:0%;}
    to {margin-left: 20%;}
}